<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php">
  <coverage>
    <include>
      <directory>./src</directory>
    </include>
  </coverage>
  <php>
    <env name="wFirma.username" value=""/>
    <env name="wFirma.password" value=""/>
    <env name="wFirma.company_id" value=""/>
    <!-- optional -->
    <env name="debug_api_messages" value="0"/>
    <!-- set to "1" to print request / response XML message to the console -->
  </php>
  <testsuites>
    <testsuite name="Main">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
